
services:
  server:
    container_name: spring-auth-server
    image: spring-auth-server:dev
    build:
      context: .
      target: development
    ports:
      - "${SERVER_PORT}:8080"
      - "${DEBUGGER_PORT}:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - POSTGRES_URL=${POSTGRES_URL}

  db:
    container_name: spring-auth-db
    image: postgres:16
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
       - POSTGRES_DB=${POSTGRES_DB}
       - POSTGRES_USER=${POSTGRES_USER}
       - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U authuser -d authdb"]
      interval: 10s
      timeout: 10s
      retries: 5

volumes:
  db-data:
