
services:
  server:
    container_name: spring-auth-server
    image: spring-auth-server:prod
    build:
      context: .
      target: production
    ports:
      - "${SERVER_PORT}:8080"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env.prod


  db:
    container_name: spring-auth-db
    image: postgres:16
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file:
      - .env.prod

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 10s
      retries: 5

volumes:
  db-data:
